.Contact {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.footer {
    text-align: start;
    justify-content: space-between;
    padding-top: 1rem;
}

.left {
    flex: 4;

}

.header {
    color: #213b52;
    font-weight: bold;
    font-size: 22px;
}

.email {
    padding-Top: 50px;

}

.address {
    padding-Top: 30px;
}

.phone {
    padding-Top: 30px;
}

.f-text {
    padding: 55px;
    color: #213b52;
    font-Weight: bold;
}

.right {
    flex: 4;
    padding-left: 4rem;
    display: block;
}


@media (max-width:360px) {
    .Contact {
        padding-top: 2rem;
        padding-bottom: 3rem;
    }

    .footer {
        flex-direction: column;
        width: 100%;
    }

    .f-text {
        padding: 30px;
        align-items: center;

    }

    .right {
        padding: 3rem;
    }

    .header {
        text-align: left;
        padding-top: 2rem;

    }
}