.data {
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: start;
    padding-left: 50px;
}
.head{
    flex: 3;
}
.bottom{
    flex: 5;
    padding-top: 10px;
}
@media (max-width:360px) {
    .data {
        padding: 10px;
        width: 100%;
    }

    .info {
        flex-direction: column;
        width: 100%;
    }

    .head,
    .bottom {
        /* flex-direction: row;
        width: 100%; */
        text-align: justify;
    }
}