.data {
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: start;
    padding-left: 50px;
}


.head {
    flex: 3;
}

.info {
    display: flex;
    padding-top: 2rem;
}

.bottom {
    flex: 5;
}

@media (max-width:360px) {
    .data {
        padding: 10px;
        width: 100%;
        padding-top: 2rem;
    }

    .data.h3 {
        font-Size: 16px
    }

    .info {
        flex-direction: column;
        width: 100%;
        padding-top: 10px;
    }

    .head {

        text-align: justify;
    }

    .bottom {
        padding-top: 2rem;
        text-align: justify;
    }
}