.Navbar {
    box-shadow: 2px 2px 2px 2px gray;
    padding-left: 50px;
}

.middle {
    align-items: center;
    display: flex;
}

.a,
.b,
.c,
.d {
    margin-right: 20px;

}

.Resume {
    padding-right: 15px;

}



@media (min-width:760px) {
    .menu {
        display:none ;
    }
}

@media (max-width: 360px) {
    .Navbar {
        height: 60%;
    }

    .logo.img {
        width: 10px;
        height: 5px;
    }

    .middle,
    .my-resume {
        display: none;
    }

}