.Navbar {
    box-shadow: 2px 2px 2px 2px gray;
    padding-left: 20px;
    display: block;

}

.logo {
    padding-left: 10px;
}

.middle {
    align-items: center;
    display: flex;
    font-Weight: bold;
}

.middle span {
    margin: 0 10px;
}

.middle span a {
    color: #213b52;
    text-decoration: none;

}

.middle span a:hover {
    color: orange;
}

.middle span.active a {
    color: orange;
    font-weight: bold;
}

.a,
.b,
.c,
.d {
    margin-right: 20px;
}


.my-resume {
    padding-right: 10px;
}

.drawer-data.a.b.c.d {
    padding-top: 10px;
}


@media (min-width:768px) {
    .menubtn {
        display: none;
        /* visibility: hidden; */
    }
}

@media (max-width: 360px) {
    .Navbar {
        height: 20%;
    }

    .logo.img {
        width: 10px;
        height: 5px;
    }

    .middle,
    .my-resume {
        display: none;
    }

}