.Resume {
    padding-top: 4rem;
    padding-bottom: 4rem;

}

.container {
    display: flex;
    padding-top: 4rem;
    text-align: justify;
    gap: 20px;
    padding-bottom: 4rem;

}

.card {
    flex: 2;
    padding: 2rem;
    max-height: 80vh;

}

.tech {
    flex-direction: column;
    padding: 0px 50px 0px 50px;

}

.text {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: bold;
    padding-bottom: 4rem;

}
.icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
  }
  
  .item span {
    color: #213b52;
    font-weight: bold;
  }
  
/* .icon {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
} */

@media (max-width: 360px) {
    .container {
        flex-direction: column;
        gap: 2rem;
    }

    .card {
        max-height: none;
    }

    .tech {
        flex-direction: column;
        justify-content: space-between;
        /* align-items: center; */
        padding: 0px 20px;
    }

    .text {
        text-align: center;
    }
    .item{
        width: 30%;
    }

    .icon {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        /* gap:20px; */

    }
}